matplotlib==3.10.1
numpy==2.2.5
openai_clip==1.0.1
opencv_python==4.10.0.84
Pillow==11.2.1
PyYAML==6.0.2
scikit_learn==1.6.1
Shapely==2.1.0
torch==2.6.0
torchmetrics==1.7.1
torchvision==0.21.0
tqdm==4.67.1
wandb==0.19.9
